*{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Tilt Prism', cursive;
    background: #fd6e6e;
}